
includeConfig './configs/main_pipeline_rna.config'
includeConfig './configs/main_pipeline_guide.config'
includeConfig './configs/process_mudata_pipeline.config'
includeConfig './configs/evaluation.config'

process {
    withName:guide_assignment_cleanser{
        container = 'docker://sjiang9/cleanser_env:0.5'
        executor = 'local'
    }

    withName:guide_assignment_sceptre{
        container = 'docker://igvf/sceptre-igvf:v0.2'
        executor = 'local'
    }

    withName:prepare_inference {
        conda = 'pyenv'
    }
    withName:inference_sceptre {
        container = 'docker://igvf/sceptre-igvf:v0.2'
        executor = 'local'
    }
}

singularity {
    enabled = true
    autoMounts = true 
}
