includeConfig './configs/metadata_input.config'
includeConfig './configs/pipeline_input.config'
includeConfig './configs/dashboard.config'

conda.useMamba = true

process {
    withName: anndata_concat{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: createGuideRef{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: createHashingRef{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: seqSpecCheck {
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: CreateMuData_HASHING{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: CreateMuData{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: createDashboard_HASHING{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: createDashboard{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: demultiplex{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: doublets_scrub_HASHING{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: doublets_scrub{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: downloadReference{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: evaluation_plot{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: evaluation_undefined_plot{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: filter_hashing{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: guide_assignment_mudata{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: hashing_concat{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: inference_mudata{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: mappingGuide{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: mappingHashing{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: mappingscRNA {
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: prepare_covariate {
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: prepare_guide_inference {
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: prepare_user_guide_inference{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: PreprocessAnnData{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName: seqSpecParser{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName:guide_assignment_cleanser{
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName:prepare_covariate {
        conda = './conda_envs/nextflow.yaml'
         
    }

    withName:guide_assignment_sceptre{
        container = 'docker://igvf/sceptre-igvf:v0.2'
        executor = 'local'
    }
    
    withName:inference_sceptre {
        container = 'docker://igvf/sceptre-igvf:v0.2'
        executor = 'local'
    }


     withName:inference_perturbo {
        conda = '/data/pinello/SHARED_SOFTWARE/anaconda_latest/envs/lb_envs/scverse_ml008'
    }

}
