params {
    DATASET_HASHING = 'true'

    run_name = 'Test run_1'
    run_description = 'test_run_1'
    transcriptome = 'human'
    seqspecs_directory = '/PHShome/sj1088/IGVF_test/example_data'
    genome_download_path = 'https://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips/hg38.fa.gz'
    genome_local_path = '/PHShome/sj1088/IGVF_test/example_data/genome.fa.gz'
    scRNA_seqspec_yaml = 'multiseq_rna_utsw.yml'
    gtf_url = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_46/gencode.v46.annotation.gtf.gz'
    Guides_seqspec_yaml = 'multiseq_guide_utsw.yml'
    Hash_seqspec_yaml = 'multiseq_hashing_utsw.yml'
    assignment_method = 'sceptre'
    THRESHOLD = 1
    inference_method = 'sceptre'
    side = 'both'
    grna_integration_strategy = 'union'
    resampling_approximation = 'skew_normal'
    control_group = 'default'
    resampling_mechanism = 'default'
    formula_object = 'covariate'
    inference_option = 'predefined_pairs'
    distance_from_center = 1000000
    min_genes = 500
    min_cells = 3
    pct_mito = 0.2
    user_central_nodes = "undefined"
    central_nodes_num = 2

    fastq_files_rna = [
    "/PHShome/sj1088/IGVF_test/example_data/fastq_files_rna/IGVFDS2628PYOH_rna_2_r1.fastq.gz /PHShome/sj1088/IGVF_test/example_data/fastq_files_rna/IGVFDS2628PYOH_rna_2_r2.fastq.gz",
    "/PHShome/sj1088/IGVF_test/example_data/fastq_files_rna/IGVFDS4852MAUM_rna_2_r1.fastq.gz /PHShome/sj1088/IGVF_test/example_data/fastq_files_rna/IGVFDS4852MAUM_rna_2_r2.fastq.gz"
    ]
    fastq_files_guide = [
    "/PHShome/sj1088/IGVF_test/example_data/fastq_files_guide/IGVFDS2628PYOH_guide_r1.fastq.gz /PHShome/sj1088/IGVF_test/example_data/fastq_files_guide/IGVFDS2628PYOH_guide_r2.fastq.gz",
    "/PHShome/sj1088/IGVF_test/example_data/fastq_files_guide/IGVFDS4852MAUM_guide_r1.fastq.gz /PHShome/sj1088/IGVF_test/example_data/fastq_files_guide/IGVFDS4852MAUM_guide_r2.fastq.gz"
    ]
    fastq_files_hashing = [
    "/PHShome/sj1088/IGVF_test/example_data/fastq_files_hashing/IGVFDS2628PYOH_hashing_r1.fastq.gz /PHShome/sj1088/IGVF_test/example_data/fastq_files_hashing/IGVFDS2628PYOH_hashing_r2.fastq.gz",
    "/PHShome/sj1088/IGVF_test/example_data/fastq_files_hashing/IGVFDS4852MAUM_hashing_r1.fastq.gz /PHShome/sj1088/IGVF_test/example_data/fastq_files_hashing/IGVFDS4852MAUM_hashing_r2.fastq.gz"
    ]
    

    test_guide_fastq_r1 = ["/PHShome/sj1088/IGVF_test/example_data/fastq_files_guide/IGVFDS2628PYOH_guide_r1.fastq.gz", "/PHShome/sj1088/IGVF_test/example_data/fastq_files_guide/IGVFDS4852MAUM_guide_r1.fastq.gz"]
    test_guide_fastq_r2 = ["/PHShome/sj1088/IGVF_test/example_data/fastq_files_guide/IGVFDS2628PYOH_guide_r2.fastq.gz", "/PHShome/sj1088/IGVF_test/example_data/fastq_files_guide/IGVFDS4852MAUM_guide_r2.fastq.gz"]

    test_hashing_fastq_r1 = ["/PHShome/sj1088/IGVF_test/example_data/fastq_files_hashing/IGVFDS2628PYOH_hashing_r1.fastq.gz", "/PHShome/sj1088/IGVF_test/example_data/fastq_files_hashing/IGVFDS4852MAUM_hashing_r1.fastq.gz"]
    test_hashing_fastq_r2 = ["/PHShome/sj1088/IGVF_test/example_data/fastq_files_hashing/IGVFDS2628PYOH_hashing_r2.fastq.gz", "/PHShome/sj1088/IGVF_test/example_data/fastq_files_hashing/IGVFDS4852MAUM_hashing_r2.fastq.gz"]
    batch=['batch_A', 'batch_B']
}

params.covariate_list = [
    batch: ['batch_A', 'batch_B'],
    cov1: ['lane1', 'lane1']
]