
params {
    // Parameters for seqSpecParser
    seqSpecDirectory = "example_data"
    seqSpec_yaml_rna = "rna.yml"

    // Parameters for download workflow
    TRANSCRIPTOME_REFERENCE = "human"

    // Parameters for mappingscRNA
    fastq_files_rna = "bamtofastq_S1_L001_R1_001.fastq.gz|bamtofastq_S1_L001_R2_001.fastq.gz;bamtofastq_S1_L002_R1_001.fastq.gz|bamtofastq_S1_L002_R2_001.fastq.gz"
    fastq_files_rna_dir = 'example_data/fastq_files_rna'
}


params.covariate_list_rna = [
    batch: ["batch_1", "batch_2"],
    gem: ["gem_A", "gem_B"],
    lane: ["lane_1", "lane_1"]
]
