params {
    // Parameters for seqSpecParser
    seqSpecDirectory = "example_data"
    seqSpec_yaml_guide = "guide.yml"

    // Parameters for downloadGenome
    genome_path = 'https://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips/hg38.fa.gz'

    // Parameters for creatingGuideIndex
    guide_metadata = 'example_data/gasperini_tss.xlsx'

    // Parameters for mappingGuide
    fastq_files_guide = "bamtofastq_S1_L001_R1_001.fastq.gz|bamtofastq_S1_L001_R2_001.fastq.gz;bamtofastq_S1_L002_R1_001.fastq.gz|bamtofastq_S1_L002_R2_001.fastq.gz"
    fastq_files_guide_dir = 'example_data/fastq_files_guide'
}


params.covariate_list_guide = [
    batch: ["batch_1", "batch_2"],
    gem: ["gem_A", "gem_B"],
    lane: ["lane_1", "lane_1"]
]
