
params{
    // Parameters for PreprocessAnnData
    min_genes = 100
    min_cells = 3

  // Parameters for downloadGTF
    gtf_path = " https://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips/genes/hg38.ensGene.gtf.gz"

  // Parameters for CreatMuData: guide_metadata

  // Parameters for Guide Assignment
    assignment_method = "cleanser" 
    THRESHOLD = 1
  // user-defined paris to test (example_data/user_pairs_to_test.csv)
   user_inference = "example_data/user_pairs_to_test.csv"

    // guide inference
    limit = 1000000
    side = "both"
    grna_integration_strategy = "union"
    resampling_approximation = "skew_normal"
    control_group = "default"
    resampling_mechanism = "default"
    formula_object = "covariate"
}
